$point: 15px;

.point {
  width: $point;
  height: $point;
  background: linear-gradient(to right, rgb(4, 125, 255), rgb(29, 188, 180));
  border: 1px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  z-index: 100;
}

.radius {
  border: 2px solid rgb(4, 125, 255);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 0px;
  position: absolute;
  z-index: 50;
  box-shadow: 0px 0px 200px 400px rgba(255, 255, 255, 0.686);
  &.active {
    border: 1px solid rgb(4, 125, 255);
    // background-color: rgba(127, 255, 232, 0.311);
    box-shadow: 0px 0px 50px 80px rgba(127, 246, 255, 0.311) inset;
  }
}
